@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');


.clear:after{content: '';clear: both; display: block;}
.blind{position: absolute; width: 1px; height: 1px; overflow: hidden; margin: -1px; clip: rect(0,0,0,0);}
body{font-family: 
 'Noto Sans KR', sans-serif, 
 'Playfair Display', serif;}
